@{
    ViewData["Title"] = "Home Page";
}





    <div class="text-center">
        <h1 class="display-4">MyMusicDatabase</h1>
        <p>Hello! This is a page to help me store and track different albums I've listened to,</p>
        <p></p>
        <p></p>
        <p><a href="https://localhost:7248/Music" style="text-shadow:1px 1px 0 #444">Check It Out Here!</a></p>
        <img src="/../Stop-Making-Sense-image.jpeg">
    </div>

