@model Music

<h2>Add a new entry</h2>

@using (Html.BeginForm("InsertMusicToDataBase", "Music", "Post"))
{
    <input asp-for="ID" type="hidden" value="" />

    <label asp-for="ArtistName" class="control-label">Artist Name</label>
    <input type="text" name="Artist Name" class="form-control" value="" />

    <label asp-for="AlbumName" class="control-label">Album Name</label>
    <input type="text" name="Album Name" class="form-control" value="" />

    <label asp-for="YearReleased" class="control-label">Year Released</label>
    <input type="number" name="Year Released" class="form-control" />

    <label asp-for="Genre" class="control-label">Genre</label>
    <input type="text" name="Genre" class="form-control" value="" />

    <label asp-for="MyRating" class="control-label">My Rating</label>
    <input type="number" name="My Rating" class="form-control" />

  

    <input type="submit" value="Create Music" class="btn btn-primary" />
}